@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@700&display=swap");

:root {
    --blue: #1d357c;
    --white: #ffffff;
    --cyan: #00d6bb;
}


* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.selected {
    color: var(--cyan) !important;
}

.color-blue {
    color: var(--blue);
}

.color-white {
    color: var(--white);
}

.link {
    text-decoration: none;
    color: black;
}

/* NAV */
.navbar {
    background-color: var(--white);
}

.nav-text {
    color: var(--blue);
    font-size: 0.7rem;
    font-weight: 800;
}

.nav-logo {
    text-align: center;
    color: var(--blue);
}

.secondary-nav {
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.secondary-nav a {
    font-weight: 400;
    justify-content: space-evenly;
    color: white;
}

.secondary-nav a:hover {
    color: white;
}

/* NAV */

/*LANDING IMAGE*/

.footer {
    /*display: none;*/
    margin-top: 10%;
    color: white;
    background-color: var(--blue);
    padding: 5%;
}

.footer .disclaimer-text {
    padding-right: 15%;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}


.category-name {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--blue);
}

.divider{
    height: 2px;
    background-color: var(--blue);
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 575.98px) {
    .reveal-on-sm {
        visibility: visible !important;
    }


    .remove-on-sm {
        display: none;
    }


    .footer .disclaimer-text {
        padding-right: 0%;
    }

    .nav-logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .lang-dropdown {
        display: none;
    }

    .login-btn {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .reveal-on-sm {
        visibility: visible !important;
    }

    .remove-on-sm {
        display: none;
    }


    .footer .disclaimer-text {
        padding-right: 0%;
    }

    .lang-dropdown {
        display: none;
    }

    .login-btn {
        display: block !important;
    }
}

@media (min-width: 576px) {


}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}